@mixin core_combined {
	.combined {
		width: 100%;
		display: table;
		line-height: normal;
	}

	.combined-body,
	.combined-aside {
		display: table-cell;
		line-height: inherit;
		margin: 0;
		padding: 0;
		vertical-align: top;
	}

	.combined-aside {
		width: 1%;
		white-space: nowrap;
	}

	.combined--middle,
	.combined--bottom {
		> .combined-body,
		> .combined-aside {
			height: 100%;
		}
	}

	.combined--middle {
		> .combined-body,
		> .combined-aside {
			vertical-align: middle;
		}
	}

	.combined--bottom {
		> .combined-body,
		> .combined-aside {
			vertical-align: bottom;
		}
	}

	@include combined-gutter('&', $combined-horizontal-gutter, $combined-vertical-gutter);
	@include combined-gutter('&.combined--no-gutter', 0, 0);
	@include combined-reset(smartphone, 0, $smartphone-max-width);
	@include combined-reset(phablet, $phablet-min-width, $phablet-max-width);
	@include combined-reset(tablet, $tablet-min-width, $tablet-max-width);
	@include combined-reset(tablet-landscape, $tablet-landscape-min-width, $tablet-landscape-max-width);
	@include combined-reset(desktop, $desktop-min-width, $desktop-max-width);
	@include combined-reset(widescreen, $widescreen-min-width, $widescreen-max-width);
	@include combined-reset(highroller, $highroller-min-width, $highroller-max-width);
}