@mixin core_combined {
	.combined {
		width: 100%;
		height: 100%;
		display: table;
		line-height: normal;
	}

	.combined-body,
	.combined-aside {
		display: table-cell;
		line-height: inherit;
		vertical-align: top;
		height: 100%;

		.combined--middle > & {
			vertical-align: middle;
		}

		.combined--bottom > & {
			vertical-align: bottom;
		}
	}

	.combined-aside {
		width: 1%;
		white-space: nowrap;
	}

	@include combined-gutter(
		$selector: null,
		$horizontal-gutter: $combined-horizontal-gutter,
		$vertical-gutter: $combined-vertical-gutter
	);

	@include combined-gutter(
		$selector: '.combined--no-gutter',
		$horizontal-gutter: 0,
		$vertical-gutter: 0
	);

	@include combined-reset(
		$viewport: smartphone,
		$min-width: false,
		$max-width: $smartphone-max-width
	);

	@include combined-reset(
		$viewport: phablet,
		$min-width: $phablet-min-width,
		$max-width: $phablet-max-width
	);

	@include combined-reset(
		$viewport: tablet,
		$min-width: $tablet-min-width,
		$max-width: $tablet-max-width
	);

	@include combined-reset(
		$viewport: tablet-landscape,
		$min-width: $tablet-landscape-min-width,
		$max-width: $tablet-landscape-max-width
	);

	@include combined-reset(
		$viewport: desktop,
		$min-width: $desktop-min-width,
		$max-width: $desktop-max-width
	);

	@include combined-reset(
		$viewport: widescreen,
		$min-width: $widescreen-min-width,
		$max-width: $widescreen-max-width
	);

	@include combined-reset(
		$viewport: highroller,
		$min-width: $highroller-min-width,
		$max-width: $highroller-max-width
	);
}