@mixin combined-reset(
	$viewport: null,
	$min-width: false,
	$max-width: false
) {
	@include breakpoint($min-width, $max-width) {
		.combined {
			&.combined--reset-#{$viewport} {
				&,
				& > .combined-body,
				& > .combined-aside {
					display: block;
					width: auto;
					vertical-align: baseline;
				}

				> .combined-aside {
					padding-right: 0;
				}

				> .combined-body ~ .combined-aside {
					padding-left: 0;
				}

				> .combined-aside,
				> .combined-body {
					white-space: normal;

					&:before {
						display: block;
						content: " ";
						overflow: hidden;
					}

					&:first-child:before {
						display: none;
					}
				}
			}
		}
	}
}